In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
df_iter = pd.read_csv('taxi_zone_lookup.csv',iterator = True, chunksize=100000, low_memory=False)

In [16]:
df = next(df_iter)

In [17]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
# df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
# df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [18]:
df.head(n=0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [19]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ny_taxi')

In [20]:
with engine.connect() as conn:
    df.head(0).to_sql(
        name='taxi_zone_lookup',
        con=conn,
        if_exists='replace'
    )

In [21]:
with engine.connect() as conn:
    df.to_sql(
        name='taxi_zone_lookup',
        con=conn,
        if_exists='append'
    )

In [22]:
while True:
    try:
     df = next(df_iter)
     # df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
     # df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
     with engine.connect() as conn:
        df.to_sql(
            name='taxi_zone_lookup',
            con=conn,
            if_exists='append'
     )
     print('inserted another chunk...')
    except StopIteration:
        print("All chunks inserted successfully.")
        break

All chunks inserted successfully.